/*Файл variables.less*/
@bg-blue:#283645;
@bg-white:#ffffff;
@bg-white__tint:#f2f2f2;
@mobile-width:320px;
@tablet-width:660px;
@desktop-width:1440px;
/*Файл scaffolding.less */

body {
    min-width:@mobile-width;
    margin: 0;
    padding: 0;
    
    font-size: 14px;
    line-height: 24px;
    font-family: 'Oswald', sans-serif;
    color: black;
    font-style: normal;
    
    background-color:white ;
    
    
}
img {
    max-width: 100%;
    height: auto;
}
.red-star {
    color:#d22856;
}
 main {
        display: flex;
        flex-direction: column;
    }
/*Файл blocks/page-header.less */
@media (min-width:@desktop-width) {
    .page-header {
        
    }
    .programm-navigation {
        display: flex;
        width: 100%;
        height: 696px;
        
        z-index: 10;
        background-repeat: no-repeat;
        background-position: center;
        
        
    }
    .find-programm {
        width: 50%;
        background-image: url(../pictures/find-program-background.png);
        background-repeat: no-repeat;
        background-position: right;
        
        
        
    }
    .find-programm-logotype {
        width: 202px;
        height: 59px;
        margin-top: 54px;
        margin-left: 15.2%;
        margin-bottom: 113px;
    background-image: url(../pictures/logo-desktop.png);
    }
    .find-programm-content {
        height: 283px;
        width: 414px;
        margin: 0;
        padding: 0;
        margin-left: 26.3%;
    }
    .find-programm-content-header {
       font-size: 60px;
        line-height: 60px;
        font-weight: 400;
        margin: 0;
        margin-bottom: 35px;
        padding: 0;
    }
    .find-programm-content-description {
        font-size: 20px;
        line-height: 20px;
        margin: 0;
        margin-bottom: 35px;
        padding: 0;
    }
    .find-programm-content-button {
        margin: 0;
        padding: 0;
        height: 52px;
        width: 245px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: white;
        background-color: #68b738;
    }
    .header-navigation {
        width: 50%;
        //border: 1px solid black;
        display: flex;
        justify-content: center;
        background-image: url(../pictures/header-navigation-desktop-v2.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #64a83b;
        z-index: 0;
    }
    .header-menu {
        font-weight: 500;
    list-style-type: none;
        display: flex;
        justify-content: space-between;
        width: 66.25%;
        
        padding: 0;
        padding-top: 65px;
        margin: 0;
        margin-left: 133px;
        margin-right: auto;
        
    }
    .header-menu-item {
        color: white;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 40px;
        font-size: 20px;
    }
    .header-item {
border-bottom: 2px solid white;
    }
};
//PROGRAMM TO BUY// //PROGRAMM TO BUY// 
@media (min-width:@desktop-width) {
.programs {
    width: 84.5%;
    height: 372px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.programs-one {
    width: 570px;
    background-color: #f2f2f2;
    background-image: url(../pictures/feature-one.png);
    
    
}
.programs-one-headline {
    margin: 0;
    margin-top: 78px;
    margin-bottom: 74px;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
}
.programs-one-content {
    font-size: 16px;
    line-height: 24px;
    width: 465px;
    margin: 0;
    margin-left: 53px;
    margin-bottom: 33px;
    padding: 0;
}
.programs-one-button {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    border: 0px;
    margin: 0;
    margin-left: 53px;
    padding: 0;
    width: 156px;
    text-align: left;
}
.programs-two {
    width: 570px;
    background-color: #f2f2f2;
    
    background-image: url(../pictures/programs-two-background.png);
    
}
.programs-two-headline {
     margin: 0;
    margin-top: 78px;
    margin-bottom: 74px;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
}
.programs-two-content {
    font-size: 16px;
    line-height: 24px;
    width: 380px;
    margin: 0;
    margin-left: 53px;
    margin-bottom: 35px;
    padding: 0;
}
.programs-two-button {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    border: 0px;
    margin: 0;
    margin-left: 53px;
    padding: 0;
    width: 156px;
    text-align: left;
}
};
//main main main//
@media (min-width:@desktop-width) {
.features {
    margin: 0;
    margin-top: 82px;
    margin-bottom: 75px;
    margin-left: 7.6%;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
}
.features-items {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style-type: none;
    width: 84.7%;
    height: 228px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    background-image: url(../pictures/features-items-desktop.png);
    background-size: 100% 100%;
    
}
.features-items--one,
.features-items--two,
.features-items--three,
.features-items--four {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 24px;
    width: 200px;
    
    
}
   
.features-items--one-picture,
.features-items--two-picture,
.features-items--three-picture,
.features-items--four-picture {
    border: 1px solid black;
    width: 80px;
    height: 80px;
}
.features-items--one-picture {
background-image: url(../pictures/icon-one-desktop.png);
}
.features-items--two-picture {
background-image: url(../pictures/icon-two-desktop.png);
}
.features-items--three-picture {
background-image: url(../pictures/icon-three-desktop.png);
}
.features-items--four-picture {
background-image: url(../pictures/icon-four-desktop.png);
}

.features-items-content {
    margin: 0;
    padding: 0;
    padding-top: 36px;
    width: 200px;
}
};
//example example example example example
@media (min-width:@desktop-width) {
.example {
    margin: 0;
    margin-top: 82px;
    margin-bottom: 75px;
    margin-left: 7.6%;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    
}
.results {
    display: flex;
    justify-content: space-between;
    height: 462px;
    width: 84.7%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
.results__details {
    width: 610px;
    height: 100%;
    background-color: #f2f2f2;
}
    
.results__details__wrapper {
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //background-image: url(../pictures/results-details-temporary-desktop.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.results__details__description {
    width: 400px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
}
.results__picture {
    width: 610px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
    .results__picture__wrapper {
        margin-top: 360px;
        width: 93.1%;
        
    }
    .results__picture__range {
        width: 428px;
        margin-left: 22px;
        margin-right: 22px;
    }


};//end of results block

@media (min-width:@desktop-width) {
    .map {
        height: 400px;
        width: 99%;
        background-image: url(../pictures/temporary-map.png);
        
    }



};//end
//footer
@media (min-width:@desktop-width) {
.page-footer {
    height: 150px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f2f2;
}
    .page-footer__wrapper {
        display: flex;
        justify-content: space-between;
        
        width: 84.7%;
        height: 34px;
        margin-left: auto;
        margin-right: auto;
    }
    .page-footer__item--one {
        width: 128px;
        height: 100%;
        background-image: url(../pictures/footer-item--one.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .page-footer__item--two {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 124px;
        list-style-type: none;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .page-footer__item--two--first {
        width: 30px;
        height: 16px;
        
        background-image: url(../pictures/vk-icon.png);
    }
    .page-footer__item--two--second {
        width: 23px;
        height: 23px;
        
        background-image: url(../pictures/insta-icon.png);
    }
    .page-footer__item--two--third {
        width: 14px;
        height: 28px;
        background-image: url(../pictures/fb-icon.png);
        
    }
    .page-footer__item--three {
       
        width: 164px;
        height: 100%;
        background-image: url(../pictures/htmlacademy-icon.png);
        background-repeat: no-repeat;
        background-position: center;
        
    }


};