/*Файл variables.less*/
@bg-blue:#283645;
@bg-white:#ffffff;
@bg-white__tint:#f2f2f2;
@mobile-width:320px;
@tablet-width:770px;
@tablet-width-max:@desktop-width - 1;
@desktop-width:1440px;
/*Файл scaffolding.less */

body {
    min-width:@mobile-width;
    margin: 0;
    padding: 0;
    
    font-size: 14px;
    line-height: 24px;
    font-family: 'Oswald', sans-serif;
    color: black;
    font-style: normal;
    
    background-color:white ;
    
    
}
img {
    max-width: 100%;
    height: auto;
}

 main {
        display: flex;
        flex-direction: column;
    }
@media (max-width:@tablet-width-max) {
    .page-header {
       
    }
    .programm-navigation {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .find-programm {
        height: 813px;
        width: 100%;
        order: 3;
        background-image: url(../pictures/find-program-background-tablet.png);
        background-repeat: no-repeat;
        background-position: center;
        
    }
    .find-programm-logotype {
        display: none;
        width: 202px;
        height: 59px;
        margin-top: 54px;
        margin-left: 15.2%;
        margin-bottom: 113px;
    background-image: url(../pictures/logo-desktop.png);
        background-position: center;
    }
    .find-programm-logotype-tablet {
        width: 174px;
        height: 58px;
    background-image: url(../pictures/logotype-tablet.png);
        background-position: center;
    }
    .find-programm-logotype:hover {
      background-image: url(../pictures/logotype-hover.png);
        background-position: center;
    }
    .find-programm-logotype:active {
       background-image: url(../pictures/logotype-active.png);
        background-position: center;
    }
    .find-programm-content {
        height: 283px;
        width: 414px;
        margin: 0;
        padding: 0;
        margin-left: 15.3%;
    }
    .find-programm-content-header {
       font-size: 60px;
        line-height: 60px;
        font-weight: 400;
        margin: 0;
        margin-bottom: 35px;
        padding: 0;
        color: #111111;
        font-weight: 400;
    }
    .find-programm-content-description {
        font-size: 20px;
        line-height: 20px;
        margin: 0;
        margin-bottom: 35px;
        padding: 0;
    }
    .find-programm-content-button {
        margin: 0;
        padding: 0;
        height: 52px;
        width: 245px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        background-color: #68b738;
        color: #ffffff;
    }
    .find-programm-content-button:hover {
        background-color: #5eaa2f;
        color: #cdcdcd;
    }
    .find-programm-content-button:active {
       background-color: #5eaa2f;
        color:#99c684;
    }
    
    
    .header-navigation {
        width: 91.8%;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 38px;
        height: 106px;
        order: 1;
        //border: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    .header-menu {
        font-weight: 500;
    list-style-type: none;
        display: flex;
        justify-content: space-between;
        width: 56.8%;
        padding: 0;
        margin: 0;
        
    }
    .header-menu-item {
        color: black;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 40px;
        font-size: 18px;
        line-height: 25px;
    }
    .header-menu-item:active {
border-bottom: 2px solid white;
    }
    .header-menu-item:hover {
        color:#d0e6c5;
        
    }
    .header-menu-item:visited {
        color: #ffffff;
    }
}
/*Файл blocks/page-header.less */
@media (min-width:@desktop-width) {
    .page-header {
        
    }
    .programm-navigation {
        display: flex;
        width: 100%;
        height: 696px;
        
        z-index: 10;
        background-repeat: no-repeat;
        background-position: center;
        
        
    }
    .find-programm {
        width: 50%;
        background-image: url(../pictures/find-program-background.png);
        background-repeat: no-repeat;
        background-position: right;
        
        
        
    }
    .find-programm-logotype {
        width: 202px;
        height: 59px;
        margin-top: 54px;
        margin-left: 15.2%;
        margin-bottom: 113px;
    background-image: url(../pictures/logo-desktop.png);
        background-position: center;
    }
    .find-programm-logotype:hover {
      background-image: url(../pictures/logotype-hover.png);
        background-position: center;
    }
    .find-programm-logotype:active {
       background-image: url(../pictures/logotype-active.png);
        background-position: center;
    }
    .find-programm-content {
        height: 283px;
        width: 414px;
        margin: 0;
        padding: 0;
        margin-left: 26.3%;
    }
    .find-programm-content-header {
       font-size: 60px;
        line-height: 60px;
        font-weight: 400;
        margin: 0;
        margin-bottom: 35px;
        padding: 0;
        color: #111111;
        font-weight: 400;
    }
    .find-programm-content-description {
        font-size: 20px;
        line-height: 20px;
        margin: 0;
        margin-bottom: 35px;
        padding: 0;
    }
    .find-programm-content-button {
        margin: 0;
        padding: 0;
        height: 52px;
        width: 245px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        background-color: #68b738;
        color: #ffffff;
    }
    .find-programm-content-button:hover {
        background-color: #5eaa2f;
        color: #cdcdcd;
    }
    .find-programm-content-button:active {
       background-color: #5eaa2f;
        color:#99c684;
    }
    
    
    .header-navigation {
        width: 50%;
        //border: 1px solid black;
        display: flex;
        justify-content: center;
        background-image: url(../pictures/header-navigation-desktop-v2.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #64a83b;
        z-index: 0;
    }
    .header-menu {
        font-weight: 500;
    list-style-type: none;
        display: flex;
        justify-content: space-between;
        width: 66.25%;
        
        padding: 0;
        padding-top: 65px;
        margin: 0;
        margin-left: 133px;
        margin-right: auto;
        
    }
    .header-menu-item {
        color: white;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 40px;
        font-size: 20px;
    }
    .header-menu-item:active {
border-bottom: 2px solid white;
    }
    .header-menu-item:hover {
        color:#d0e6c5;
        
    }
    .header-menu-item:visited {
        color: #ffffff;
    }
};
//PROGRAMM TO BUY// //PROGRAMM TO BUY// 
@media (max-width:@tablet-width-max) {
    .programs {
    width: 100%;
    height: 774px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
        flex-direction: column;
    justify-content: space-between;
        align-items: center;
}
    .programs-one {
        display: flex;
        justify-content: center;
    width: 91.9%;
        height: 372px;
    background-color: #f2f2f2;
    background-image: url(../pictures/program-one-background-tablet.png);
        background-position: 60%;
        background-repeat: no-repeat;
}
    .programs-one__wrapper {
        width: 100%;
        height: 227px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: auto;
        margin-bottom: auto;
    }
.programs-one-headline {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
    color: #111111;
}
.programs-one-content {
    font-family: Arial;
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    width: 53.2%;
    margin: 0;
    margin-left: 7.3%;
    padding: 0;
}
.programs-one-button {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    border: 0px;
    margin: 0;
    margin-left: 7.3%;
    padding: 0;
    width: 156px;
    text-align: left;
    background-image: url(../pictures/arrow-sign.png);
    background-position: right;
    background-repeat: no-repeat;
}
    
    .programs-one-button:hover {
        background-image: url(../pictures/arrow-hover.png);
    background-position: right;
    background-repeat: no-repeat;
    }
    .programs-one-button:active {
        color: #cccccc;
        background-image: url(../pictures/arrow-active.png);
    background-position: right;
    background-repeat: no-repeat;
        border: 0px;
    }
    
.programs-two {
    display: flex;
        justify-content: center;
    width: 91.9%;
        height: 372px;
    background-color: #f2f2f2;
    background-image: url(../pictures/programs-two-background-tablet.png);
        background-position: 60%;
        background-repeat: no-repeat;
    
}
    .programs-two__wrapper {
        width: 100%;
        height: 227px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: auto;
        margin-bottom: auto;
    }

.programs-two-headline {
     margin: 0;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
}
.programs-two-content {
    font-family: Arial;
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    width: 49%;
    margin: 0;
    margin-left: 7.3%;
    padding: 0;
}
.programs-two-button {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    border: 0px;
    margin: 0;
    margin-left: 7.3%;
    padding: 0;
    width: 156px;
    text-align: left;
    background-image: url(../pictures/arrow-sign.png);
    background-position: right;
    background-repeat: no-repeat;
}
    .programs-two-button:hover {
        background-image: url(../pictures/arrow-hover.png);
    background-position: right;
    background-repeat: no-repeat;
    }
    .programs-two-button:active {
        color: #cccccc;
        background-image: url(../pictures/arrow-active.png);
    background-position: right;
    background-repeat: no-repeat;
        border: 0px;
    }
}; 

@media (min-width:@desktop-width) {
.programs {
    width: 84.5%;
    height: 372px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.programs-one {
    width: 570px;
    background-color: #f2f2f2;
    background-image: url(../pictures/feature-one.png);

    
    
}
.programs-one-headline {
    margin: 0;
    margin-top: 78px;
    margin-bottom: 74px;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
    color: #111111;
}
.programs-one-content {
    font-family: Arial;
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    width: 465px;
    margin: 0;
    margin-left: 53px;
    margin-bottom: 33px;
    padding: 0;
}
.programs-one-button {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    border: 0px;
    margin: 0;
    margin-left: 53px;
    padding: 0;
    width: 156px;
    text-align: left;
    background-image: url(../pictures/arrow-sign.png);
    background-position: right;
    background-repeat: no-repeat;
}
    
    .programs-one-button:hover {
        background-image: url(../pictures/arrow-hover.png);
    background-position: right;
    background-repeat: no-repeat;
    }
    .programs-one-button:active {
        color: #cccccc;
        background-image: url(../pictures/arrow-active.png);
    background-position: right;
    background-repeat: no-repeat;
        border: 0px;
    }
.programs-two {
    width: 570px;
    background-color: #f2f2f2;
    
    background-image: url(../pictures/programs-two-background.png);
    
}
.programs-two-headline {
     margin: 0;
    margin-top: 78px;
    margin-bottom: 74px;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
}
.programs-two-content {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    width: 380px;
    margin: 0;
    margin-left: 53px;
    margin-bottom: 35px;
    padding: 0;
}
.programs-two-button {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    border: 0px;
    margin: 0;
    margin-left: 53px;
    padding: 0;
    width: 156px;
    text-align: left;
    background-image: url(../pictures/arrow-sign.png);
    background-position: right;
    background-repeat: no-repeat;
}
    .programs-two-button:hover {
        background-image: url(../pictures/arrow-hover.png);
    background-position: right;
    background-repeat: no-repeat;
    }
    .programs-two-button:active {
        color: #cccccc;
        background-image: url(../pictures/arrow-active.png);
    background-position: right;
    background-repeat: no-repeat;
        border: 0px;
    }
};


//main main main//
@media (min-width:@desktop-width) {
.features {
    margin: 0;
    margin-top: 82px;
    margin-bottom: 75px;
    margin-left: 7.6%;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
}
.features-items {
    color: #444444;
    font-family: Arial;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style-type: none;
    width: 84.7%;
    height: 228px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    background-image: url(../pictures/features-items-desktop.png);
    background-size: 100% 100%;
    
}
.features-items--one,
.features-items--two,
.features-items--three,
.features-items--four {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 24px;
    width: 200px;
    
    
}

   
.features-items--one-picture,
.features-items--two-picture,
.features-items--three-picture,
.features-items--four-picture {
   
    width: 80px;
    height: 80px;
}
.features-items--one-picture {
background-image: url(../pictures/icon-one-desktop.png);
}
.features-items--two-picture {
background-image: url(../pictures/icon-two-desktop.png);
}
.features-items--three-picture {
background-image: url(../pictures/icon-three-desktop.png);
}
.features-items--four-picture {
background-image: url(../pictures/icon-four-desktop.png);
}

.features-items-content {
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding-top: 36px;
    width: 238px;
}
};
@media (max-width:@tablet-width-max) {
  .features {
    margin: 0;
    margin-top: 82px;
    margin-bottom: 75px;
    margin-left: 3.8%;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
}
.features-items {
    color: #444444;
    font-family: Arial;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style-type: none;
    width: 91.9%;
    height: 548px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    //background-image: url(../pictures/features-items-tablet.png);
    
    
}
.features-items--one,
.features-items--two,
.features-items--three,
.features-items--four {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 24px;
    width: 40%;
    height: 228px;
    
    
}
    .features-items--one {
        background-image: url(../pictures/number-one-tablet.png);
        background-repeat: no-repeat;
        background-position: 50%;
    }
    .features-items--two {
        background-image: url(../pictures/number-two-tablet.png);
        background-repeat: no-repeat;
        background-position: 50%;
    }
   
.features-items--one-picture,
.features-items--two-picture,
.features-items--three-picture,
.features-items--four-picture {
   
    width: 80px;
    height: 80px;
}
.features-items--one-picture {
background-image: url(../pictures/icon-one-desktop.png);
}
.features-items--two-picture {
background-image: url(../pictures/icon-two-desktop.png);
}
.features-items--three-picture {
background-image: url(../pictures/icon-three-desktop.png);
}
.features-items--four-picture {
background-image: url(../pictures/icon-four-desktop.png);
}

.features-items-content {
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding-top: 36px;
    width: 238px;
}  
};
//example example example example example
@media (min-width:@desktop-width) {
.example {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 217px;
    width: 84.7%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
}
    .example-headline {
        width: 50%;
    }
    .example-cat-block {
        width: 50%;
        height: 100%;
        background-image: url(../pictures/head-of-cat-v4.png);
        background-position: bottom left;
         background-size: contain;
        background-repeat: no-repeat;
    }
.results {
    display: flex;
    justify-content: space-between;
    height: 462px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
.results__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #f2f2f2;
}
    
.results__details__wrapper {
    color:#444444;
    font-family: Arial;
    margin-left: 15.5%;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: left;
    
}
.results__details__description {
    width: 433px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
}
    .results__numbers {
        width: 366px;
        display: flex;
        justify-content: space-between;
    }
    .results__fieldset {
         width: 140px;
        border: 1px solid #cdcdcd;
        display: flex;
        text-align: center;
        
        
    }
    .results__legend {
       margin: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
        
    }
    .results__expenses {
        width: 326px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .results__expenses--text {
        margin: 0;
        padding: 0;
    }
     .results__picture {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url(../pictures/big-cat-v3.png);
         background-position: left top;
    background-repeat: no-repeat;
         background-size: contain;
         background-color: #eaeaea;
}

    .results__picture__wrapper {
        margin-top: 350px;
        margin-left: 4.2%;
        width: 580px;
        display: flex;
        justify-content: space-between;
        
    }
    .before {
        border-bottom:1px dotted #bebebe;
    }
    .after {
        border-bottom:1px dotted #bebebe;
    }

};//end of results block

@media (max-width:@tablet-width-max) {
.example {
    border-top: 1px solid #e6e6e6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 170px;
    width: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
}
    .example-headline {
        width: 50%;
        margin-left: 8%;
    }
    .example-cat-block {
        display: none;
    }
.results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
.results__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 434px;
    background-color: #ffffff;
    background-image: url(../pictures/head-of-cat-tablet.png);
    background-repeat: no-repeat;
    background-position: bottom;
    
}
    
.results__details__wrapper {
    color:#444444;
    font-family: Arial;
    margin-left: 7.75%;
    height: 195px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: left;
    
}
.results__details__description {
    width: 675px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
}
    .results__numbers-fieldset {
        display: flex;
        justify-content: space-between;
    }
    .results__numbers {
        width: 400px;
        display: flex;
        justify-content: space-between;
    }
    .results__fieldset {
         width: 140px;
        border: 1px solid #cdcdcd;
        display: flex;
        text-align: center;
        
        
    }
    .results__legend {
       margin: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
        
    }
    .results__expenses {
        width: 326px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        margin-right: 8.4%;
    }
    .results__expenses--text {
        margin: 0;
        padding: 0;
    }
     .results__picture {
    width: 100%;
    height: 714px;;
    display: flex;
    
         background-size: contain;
         background-position: top;
         background-color: #eaeaea;
}

    .results__picture__wrapper {
        width: 50%;
        height: 100%;
        background-image: url(../pictures/cat-left-part-tablet.png);
         background-repeat: no-repeat;
        background-position: top right;
        background-color: #f2f2f2;
        
    }
    .results__picture__wrapper-two {
        width: 50%;
        height: 100%;
        background-image: url(../pictures/cat-right-part-tablet.png);
         background-repeat: no-repeat;
        background-position: top left;
        background-color: #eaeaea;
        
    }
    .before {
        
        display: none;
    }
    .after {
        
         display: none;
    }

};//end of results block

@media (min-width:@desktop-width) {
    #map {
        height: 396px;
        width: 100%;
        background-image: url(../pictures/temporary-map.png);  
    };



};//end
//footer
@media (max-width:@tablet-width-max) {
    #map {
        height: 396px;
        width: 100%;
        background-image: url(../pictures/temporary-map.png);  
    };
    
}
@media (min-width:@desktop-width) {
.page-footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f2f2;
}
    .page-footer__wrapper {
        display: flex;
        justify-content: space-between;
        
        width: 84.7%;
        height: 34px;
        margin-left: auto;
        margin-right: auto;
    }
    .page-footer__item--one {
        width: 128px;
        height: 100%;
        background-image: url(../pictures/footer-item--one.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .page-footer__item--two {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 124px;
        list-style-type: none;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .page-footer__item--two--first {
        width: 30px;
        height: 16px;
        
        background-image: url(../pictures/vk-icon.png);
    }
    .page-footer__item--two--second {
        width: 23px;
        height: 23px;
        
        background-image: url(../pictures/insta-icon.png);
    }
    .page-footer__item--two--third {
        width: 14px;
        height: 28px;
        background-image: url(../pictures/fb-icon.png);
        
    }
    .page-footer__item--three {
       
        width: 164px;
        height: 100%;
        background-image: url(../pictures/htmlacademy-icon.png);
        background-repeat: no-repeat;
        background-position: center;
        
    }


};



@media (max-width:@tablet-width-max) {
.page-footer {
    height: 150px;
    border: 10 px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f2f2;
}
    .page-footer__wrapper {
        display: flex;
        justify-content: space-between;
        
        width: 91.8%;
        height: 34px;
        margin-left: auto;
        margin-right: auto;
    }
    .page-footer__item--one {
        width: 128px;
        height: 100%;
        background-image: url(../pictures/footer-item--one.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .page-footer__item--two {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 124px;
        list-style-type: none;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .page-footer__item--two--first {
        width: 30px;
        height: 16px;
        
        background-image: url(../pictures/vk-icon.png);
    }
    .page-footer__item--two--second {
        width: 23px;
        height: 23px;
        
        background-image: url(../pictures/insta-icon.png);
    }
    .page-footer__item--two--third {
        width: 14px;
        height: 28px;
        background-image: url(../pictures/fb-icon.png);
        
    }
    .page-footer__item--three {
       
        width: 164px;
        height: 100%;
        background-image: url(../pictures/htmlacademy-icon.png);
        background-repeat: no-repeat;
        background-position: center;
        
    }


};