@import "../helpers/variables";

/*Файл variables.less*/
//$mobile-width-min:320px;
//$mobile-width-max:769px;
//$tablet-width-min:770px;
//$tablet-width-max:1439px;
//$desktop-width-min:1440px;
/*file scaffolding.less */

body {
  min-width:$mobile-width-min;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  font-family: 'Oswald', sans-serif;
  color: black;
  font-style: normal;
  background-color:white ;

}

img {
  max-width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;

}

.header-menu-item-active {
  border-bottom: 2px solid #64a83b;
}

.header-menu-item,
.find-programm-content-button,
.programs-one-button,
.programs-two-button,
.page-footer__item--one,
.page-footer__item--two,
.page-footer__item--three,
.find-programm-logotype,
.find-programm-logotype-tablet {
  cursor: pointer;
}
@media (min-width: $mobile-width-min) and  (max-width: $mobile-width-max) {

  .header-menu-item-active-main {
    border-bottom: 2px solid #64a83b;
  }
  .page-header {

  }
  .programm-navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .find-programm {

    width: 100%;
    height: 480px;
    order: 3;
    background-image: url(../pictures/main/find-program-background-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
   margin-left: auto;
    margin-right: auto;

  }
  .find-programm-logotype {
    display: none;
    width: 202px;
    height: 59px;
    margin-top: 54px;
    margin-left: 15.2%;
    margin-bottom: 113px;
    background: url(../pictures/main/logo-desktop.png) center;
  }
  .find-programm-logotype-tablet {
    display: none;
  }
  .find-programm-logotype:hover {
    background: url(../pictures/main/logotype-hover.png) center;
  }
  .find-programm-logotype:active {
    background-image: url(../pictures/main/logotype-active.png);
    background-position: center;
  }
  .find-programm-content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    width: 250px;
    height: 452px;
    padding: 0;
    margin: 28px auto 0;
  }
  .find-programm-content-header {
    color: white;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin: 0 0 27px;
    padding: 0;
  }
  .find-programm-content-description {
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 299px;

    padding: 0;
  }
  .find-programm-content-button {
    margin: 0;
    padding: 0;
    height: 40px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: #68b738;
    color: #ffffff;
  }
  .find-programm-content-button:hover {
    background-color: #5eaa2f;
    color: #cdcdcd;
  }
  .find-programm-content-button:active {
    background-color: #5eaa2f;
    color:#99c684;
  }


  .header-navigation {


  }
  .header-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    width: 85%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;

  }
  .header-menu-item {
    color: black;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 40px;
font-size: 14px;
  }
  .header-menu-item:active {
    border-bottom: 2px solid white;
  }
  .header-menu-item:hover {
    color:#d0e6c5;

  }
  .header-menu-item:visited {
    color: #ffffff;
  }
};
@media (min-width: $tablet-width-min) and  (max-width: $tablet-width-max) {

  .header-menu-item-active-main {
    border-bottom: 2px solid #64a83b;
  }
  .page-header {

  }
  .programm-navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .find-programm {
    height: 813px;
    width: 100%;
    order: 3;
    background: url(../pictures/main/find-program-background-tablet.png) no-repeat center;

  }
  .find-programm-logotype {
    display: none;
    width: 202px;
    height: 59px;
    margin-top: 54px;
    margin-left: 15.2%;
    margin-bottom: 113px;
    background: url(../pictures/main/logo-desktop.png) center;
    transition: 200ms ease-in-out;
  }
  .find-programm-logotype-tablet {
    width: 174px;
    height: 58px;
    background: url(../pictures/main/logotype-tablet.png) center;
  }
  .find-programm-logotype:hover {
    background: url(../pictures/main/logotype-hover.png) center;
  }
  .find-programm-logotype:active {
    background: url(../pictures/main/logotype-active.png) center;
  }
  .find-programm-content {
    color:#111111;
    height: 283px;
    width: 414px;
    padding: 0;
    margin: 0 0 0 15.3%;
  }
  .find-programm-content-header {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    color: #111111;
  }
  .find-programm-content-description {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 35px;
    padding: 0;
  }
  .find-programm-content-button {
    transition: 200ms ease-in-out;
    margin: 0;
    padding: 0;
    height: 52px;
    width: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #68b738;
    color: #ffffff;
  }
  .find-programm-content-button:hover {
    background-color: #5eaa2f;
    color: #cdcdcd;
  }
  .find-programm-content-button:active {
    background-color: #5eaa2f;
    color:#99c684;
  }


  .header-navigation {
    width: 91.8%;
    margin: 0 auto 38px;
    height: 106px;
    order: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .header-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 56.8%;
    padding: 0;
    margin: 0;
    color:#222222;
  }
  .header-menu-item {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 40px;
    font-size: 18px;
    line-height: 25px;
    transition: 200ms ease-in-out;
  }
  .header-menu-item:active {
    border-bottom: 2px solid white;
  }
  .header-menu-item:hover {
    color:#d0e6c5;

  }
  .header-menu-item:visited {
    color: #ffffff;
  }
};
/*file blocks/page-header.less */
@media (min-width:$desktop-width-min) {

  .header-menu-item-active-main {
    border-bottom: 2px solid white;
  }
  .page-header {

  }
  .programm-navigation {
    display: flex;
    width: 100%;
    height: 696px;
    z-index: 10;
    background: no-repeat center;
  }
  .find-programm {
    width: 50%;
    background: url(../pictures/main/find-program-background.png) no-repeat right;
  }
  .find-programm-logotype {
    width: 202px;
    height: 59px;
    margin-top: 54px;
    margin-left: 15.2%;
    margin-bottom: 113px;
    background: url(../pictures/main/logo-desktop.png) center;
    transition: 200ms ease-in-out;
  }
  .find-programm-logotype:hover {
    background: url(../pictures/main/logotype-hover.png) center;
  }
  .find-programm-logotype:active {
    background: url(../pictures/main/logotype-active.png) center;
  }
  .find-programm-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 277px;
    width: 414px;
    padding: 0;
    margin: 0 0 0 26.3%;
  }
  .find-programm-content-header {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin: 0;

    padding: 0;
    color: #111111;
  }
  .find-programm-content-description {
    font-size: 20px;
    line-height: 20px;
    margin: 0;

    padding: 0;
  }
  .find-programm-content-button {
    transition: 200ms ease-in-out;
    margin: 0;
    padding: 0;
    height: 52px;
    width: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #68b738;
    color: #ffffff;
  }
  .find-programm-content-button:hover {
    background-color: #5eaa2f;
    color: #cdcdcd;
  }
  .find-programm-content-button:active {
    background-color: #5eaa2f;
    color:#99c684;
  }


  .header-navigation {
    width: 50%;
    display: flex;
    justify-content: center;
    background-size: contain;
    background: #64a83b url(../pictures/main/header-navigation-desktop-v2.png) no-repeat left;
    z-index: 0;
  }
  .header-menu {
    font-weight: 500;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 66.5%;
    //padding: 65px 0 0;
    font-size: 20px;
    margin-top: 56px;
    margin-right: auto;
    margin-left: 133px;
    margin-bottom: 0;

  }
  .header-menu-item {
    color: white;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 40px;
    font-size: 20px;
    transition: 200ms ease-in-out;
  }
  .header-menu-item:active {
    border-bottom: 2px solid white;
  }
  .header-menu-item:hover {
    color:#d0e6c5;
  }
  .header-menu-item:visited {
    color: #ffffff;
  }
};
/*file blocks/programs.less */
@media (min-width: $mobile-width-min) and  (max-width: $mobile-width-max) {
  .programs {
    width: 100%;
    height: 552px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .programs-one {
    display: flex;
    justify-content: center;
    width: 91.9%;
    height: 266px;
    background-image: url(../pictures/main/program-one-background-mobile.png);
    background-position: left 18% top 22px;
    background-repeat: no-repeat;
    background-color:#f2f2f2;
  }
  .programs-one__wrapper {
    width: 100%;
    height: 233px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 33px;
  }
  .programs-one-headline {
    margin: 0;
    margin-left: 35%;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    font-weight: 400;
    color: #111111;
  }
  .programs-one-content {
    font-family: Arial, serif;
    color: #444444;
    font-size: 14px;
    line-height: 18px;
    width: 70%;
    margin: 0 auto;
    padding: 0;
  }
  .programs-one-button {
    font-family: 'Oswald',sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    border: 0;
    margin: 0 0 0 15%;
    padding: 0;
    width:75%;
    height: 57px;
    border-top: 1px solid #d9d9d9;
    text-align: left;
    background: url(../pictures/main/arrow-sign.png) no-repeat left 130px center;
    outline:0;
    transition: 200ms ease-in-out;

  }

  .programs-one-button:hover {
    background-image: url(../pictures/main/arrow-hover.png);
    background-position: right;
    background-repeat: no-repeat;
  }
  .programs-one-button:active {
    color: #cccccc;
    background: url(../pictures/main/arrow-active.png) no-repeat right;
    border: 0;
  }

  .programs-two {
    display: flex;
    justify-content: center;
    width: 91.9%;
    height: 266px;
    background: #f2f2f2 no-repeat 60%;
    background-image: url(../pictures/main/program-two-background-mobile.png);
    background-position: left 15% top 24px;

  }
  .programs-two__wrapper {
    width: 100%;
    height: 233px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 33px;
  }

  .programs-two-headline {
    margin: 0;
    margin-left: 35%;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    font-weight: 400;
    color: #111111;
  }
  .programs-two-content {
    font-family: Arial, serif;
    color: #444444;
    font-size: 14px;
    line-height: 18px;
    width: 70%;
    margin: 0 auto;
    padding: 0;
  }
  .programs-two-button {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    border: 0;
    margin: 0 0 0 15%;
    padding: 0;
    width: 75%;
    height: 57px;
    border-top: 1px solid #d9d9d9;
    text-align: left;
    background: url(../pictures/main/arrow-sign.png) no-repeat left 130px center;
    outline:0;
    transition: 200ms ease-in-out;
  }
  .programs-two-button:hover {
    background: url(../pictures/main/arrow-hover.png) no-repeat right;
  }
  .programs-two-button:active {
    color: #cccccc;
    background: url(../pictures/main/arrow-active.png) no-repeat right;
    border: 0;
  }
}
@media (min-width: $tablet-width-min) and  (max-width: $tablet-width-max) {
  .programs {
    width: 100%;
    height: 774px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .programs-one {
    display: flex;
    justify-content: center;
    width: 91.9%;
    height: 372px;
    background: #f2f2f2 url(../pictures/main/program-one-background-tablet.png) no-repeat 60%;
  }
  .programs-one__wrapper {
    width: 100%;
    height: 227px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto 0;
  }
  .programs-one-headline {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
    color: #111111;
  }
  .programs-one-content {
    font-family: Arial, serif;
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    width: 53.2%;
    margin: 0 0 0 7.3%;
    padding: 0;
  }

  .programs-one-button {
    color:#111111;
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    border: 0;
    margin: 0 0 0 7.3%;
    padding: 0;
    width: 156px;
    text-align: left;
    background: url(../pictures/main/arrow-sign.png) no-repeat right;
    outline:0;
    transition: 200ms ease-in-out;
  }

  .programs-one-button:hover {
    background: url(../pictures/main/arrow-hover.png) no-repeat right;
  }
  .programs-one-button:active {
    color: #cccccc;
    background: url(../pictures/main/arrow-active.png) no-repeat right;
    border: 0;
  }

  .programs-two {
    display: flex;
    justify-content: center;
    width: 91.9%;
    height: 372px;
    background: #f2f2f2 url(../pictures/main/programs-two-background-tablet.png) no-repeat 60%;

  }
  .programs-two__wrapper {
    width: 100%;
    height: 227px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto 0;
  }

  .programs-two-headline {
    color:#111111;
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
  }
  .programs-two-content {
    font-family: Arial,sans-serif;
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    width: 49%;
    margin: 0 0 0 7.3%;
    padding: 0;
  }
  .programs-two-button {
    color:#111111;;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    border: 0;
    margin: 0 0 0 7.3%;
    padding: 0;
    width: 156px;
    text-align: left;
    background: url(../pictures/main/arrow-sign.png) no-repeat right;
    outline:0;
    transition: 200ms ease-in-out;
  }
  .programs-two-button:hover {
    background: url(../pictures/main/arrow-hover.png) no-repeat right;
  }
  .programs-two-button:active {
    color: #cccccc;
    background: url(../pictures/main/arrow-active.png) no-repeat right;
    border: 0;
  }
};
/*file blocks/programs.less */
@media (min-width:$desktop-width-min) {
  .programs {
    width: 84.5%;
    height: 372px;
    margin: 80px auto 0;
    display: flex;
    justify-content: center;
  }
  .programs-one {
    width: 570px;
    background: #f2f2f2 url(../pictures/main/feature-one.png);
    margin-right: 6.57%;



  }
  .programs-one-headline {
    margin: 78px 0 74px;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
    color: #111111;
  }
  .programs-one-content {
    font-family: Arial, serif;
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    width: 465px;
    margin: 0 0 33px 53px;
    padding: 0;
  }
  .programs-one-button {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    border: 0;
    margin: 0;
    margin-left: 53px;
    padding: 0;
    width: 156px;
    text-align: left;
    background: url(../pictures/main/arrow-sign.png) no-repeat right;
    outline:0;
    transition: 200ms ease-in-out;


  }

  .programs-one-button:hover {
    background: url(../pictures/main/arrow-hover.png) no-repeat right;

  }
  .programs-one-button:active {
    color: #cccccc;
    background: url(../pictures/main/arrow-active.png) no-repeat right;
    border: 0;

  }
  .programs-two {
    width: 570px;
    background: #f2f2f2 url(../pictures/main/programs-two-background.png);

  }
  .programs-two-headline {
    color:#111111;
    margin: 0;
    margin-top: 78px;
    margin-bottom: 74px;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
  }
  .programs-two-content {
    font-family: Arial, serif;
    font-size: 16px;
    line-height: 24px;
    width: 380px;
    margin: 0;
    margin-left: 53px;
    margin-bottom: 35px;
    padding: 0;
  }
  .programs-two-button {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    border: 0;
    margin: 0 0 0 53px;
    padding: 0;
    width: 156px;
    text-align: left;
    background: url(../pictures/main/arrow-sign.png) no-repeat right;
    outline:0;
    transition: 200ms ease-in-out;

  }
  .programs-two-button:hover {
    background: url(../pictures/main/arrow-hover.png) no-repeat right;
  }
  .programs-two-button:active {
    color: #cccccc;
    background: url(../pictures/main/arrow-active.png) no-repeat right;
    border: 0;
  }
};

/*file blocks/features.less */
@media (min-width: $mobile-width-min) and  (max-width: $mobile-width-max) {
  .features {
    color:#111111;
    margin: 0;
    margin-top: 34px;
    text-align: center;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }
  .features-items {
    color: #444444;
    font-family: Arial,sans-serif;
    margin: 0;
    margin-top: 42px;
    margin-bottom: 42px;
    padding: 0;
    list-style-type: none;
    width: 100%;
    height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
  }
  .features-items--one,
  .features-items--two,
  .features-items--three,
  .features-items--four {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
  }

  .features-items--one-picture,
  .features-items--two-picture,
  .features-items--three-picture,
  .features-items--four-picture {
    width: 60px;
    height: 60px;
  }
  .features-items--one-picture {
    background-image: url(../pictures/main/icon-one-mobile.png);
  }
  .features-items--two-picture {
    background-image: url(../pictures/main/icon-two-mobile.png);
  }
  .features-items--three-picture {
    background-image: url(../pictures/main/icon-three-mobile.png);
  }
  .features-items--four-picture {
    background-image: url(../pictures/main/icon-four-mobile.png);
  }

  .features-items-content {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 0 7%;
    padding: 0;
    width: 176px;
  }
};
@media (min-width: $tablet-width-min) and  (max-width: $tablet-width-max) {
  .features {
    color:#111111;
    margin: 82px 0 75px 3.8%;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }
  .features-items {
    color: #444444;
    font-family: Arial,sans-serif;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    width: 91.9%;
    height: 548px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 24px;


  }
  .features-items--one,
  .features-items--two,
  .features-items--three,
  .features-items--four {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 24px;
    width: 40%;
    height: 228px;


  }
  .features-items--one {
    background: url(../pictures/main/number-one-tablet.png) no-repeat 50%;
  }
  .features-items--two {
    background: url(../pictures/main/number-two-tablet.png) no-repeat 50%;
  }
  .features-items--three {
    background: url(../pictures/main/number-three-tablet.png) no-repeat 50%;

  }
  .features-items--four {
    background: url(../pictures/main/number-four-tablet.png) no-repeat 50%;
  }

  .features-items--one-picture,
  .features-items--two-picture,
  .features-items--three-picture,
  .features-items--four-picture {

    width: 80px;
    height: 80px;
  }
  .features-items--one-picture {
    background-image: url(../pictures/main/icon-one-desktop.png);
  }
  .features-items--two-picture {
    background-image: url(../pictures/main/icon-two-desktop.png);
  }
  .features-items--three-picture {
    background-image: url(../pictures/main/icon-three-desktop.png);
  }
  .features-items--four-picture {
    background-image: url(../pictures/main/icon-four-desktop.png);
  }

  .features-items-content {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    padding-top: 36px;
    width: 238px;
  }
};
/*file blocks/features.less */
@media (min-width:$desktop-width-min) {
  .features {
    width: 1218px;
    margin: 82px auto 75px;
    padding: 0;
    color:#111111;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }
  .features-items {
    color: #444444;
    font-family: Arial,sans-serif;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    width: 1218px;
    height: 228px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    background-image: url(../pictures/main/features-items-desktop.png);
    background-size: 100% 100%;

  }
  .features-items--one,
  .features-items--two,
  .features-items--three,
  .features-items--four {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 24px;
    width: 200px;


  }


  .features-items--one-picture,
  .features-items--two-picture,
  .features-items--three-picture,
  .features-items--four-picture {
    width: 80px;
    height: 80px;
  }
  .features-items--one-picture {
    background-image: url(../pictures/main/icon-one-desktop.png);
  }
  .features-items--two-picture {
    background-image: url(../pictures/main/icon-two-desktop.png);
  }
  .features-items--three-picture {
    background-image: url(../pictures/main/icon-three-desktop.png);
  }
  .features-items--four-picture {
    background-image: url(../pictures/main/icon-four-desktop.png);
  }
  .features-items-content {
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding-top: 36px;
    width: 238px;
  }
};
/*Файл blocks/example.less */
@media (min-width: $mobile-width-min) and  (max-width: $mobile-width-max) {
  .example {
    border-top: 1px solid #e6e6e6;
    background-color:#f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }
  .example-headline {
    color:#111111;
  }
  .example-cat-block {
    display: none;
  }
  .results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

  }
  .results__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 240px;
    background: #f2f2f2 no-repeat bottom;

  }

  .results__details__wrapper {
    color:#444444;
    font-family: Arial,sans-serif;
    margin: 0 auto;
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: no-repeat left;

  }
  .results__details__description {
    width: 275px;
    margin: 0 0 29px;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
  }
  .results__numbers-fieldset {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  span {
    font-family: 'Oswald',sans-serif;
    color:#111111;
    font-size: 24px;
    transform: rotate(180deg);
    position: relative;
    width: 110px;

  }
  .rotate {
    transform: rotate(180deg);
    margin: 0;
    padding: 0;
  }
  .results__numbers {
    margin: 0 auto;
    width: 320px;
    display: flex;
    justify-content: space-between;
  }
  .results__fieldset {
    width: 114px;
    border: 1px solid #cdcdcd;
    display: flex;
    text-align: center;
    transform: rotate(180deg);


  }
  .results__legend {
    font-size: 12px;
    line-height: 12px;
    width: 54px;
    margin: 0 auto;
    padding: 0 16px;

  }
  .results__expenses {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color:#111111;
    font-weight: 400;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .results__expenses--text {
    margin: 0;
    padding: 0;
  }
  .results__picture {
    width: 100%;
    height: 366px;;
    display: flex;

    background-size: contain;
    background-position: top;
    background-color: #eaeaea;
  }

  .results__picture__wrapper {
    width: 100%;
    height: 100%;
    background: #f2f2f2 url(../pictures/main/big-cat-mobile.png) no-repeat center;
  }
  .results__picture__wrapper-two {
    display: none;
  }
  .before {

    display: none;
  }
  .after {

    display: none;
  }
};
@media (min-width: $tablet-width-min) and  (max-width: $tablet-width-max) {
  .example {
    border-top: 1px solid #e6e6e6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 170px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }
  .example-headline {
    color:#111111;
    width: 50%;
    margin-left: 3.8%;
  }
  .example-cat-block {
    display: none;
  }
  .results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

  }
  .results__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 434px;
    background: #ffffff url(../pictures/main/head-of-cat-tablet.png) no-repeat bottom;

  }

  .results__details__wrapper {
    color:#444444;
    font-family: Arial, sans-serif;
    margin-left: 3.8%;
    height: 195px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: no-repeat left;

  }
  .results__details__description {
    width: 92%;
    margin: 0 5% 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
  }
  .results__numbers-fieldset {
    display: flex;
    justify-content: space-between;
  }
  span {
    font-family: 'Oswald',sans-serif;
    color:#111111;
    font-size: 30px;
    transform: rotate(180deg);
    position: relative;
   width: 200px;

  }
  .rotate {
    transform: rotate(180deg);
    margin: 0;
    padding: 0;
  }
  .results__numbers {
    width: 400px;
    display: flex;
    justify-content: space-between;
  }
  .results__fieldset {
    width: 140px;
    border: 1px solid #cdcdcd;
    display: flex;
    text-align: center;
    transform: rotate(180deg);


  }
  .results__legend {
    width: 146px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .results__expenses {
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    line-height: 20px;
    color:#111111;
    width: 326px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 8.4%;
  }
  .results__expenses--text {
    margin: 0;
    padding: 0;
  }
  .results__picture {
    width: 100%;
    height: 450px;
    display: flex;
    background-size: contain;
    background: #eaeaea top;
  }

  .results__picture__wrapper {
    width: 50%;
    height: 100%;
    background-size: contain;
    background: #f2f2f2 url(../pictures/main/cat-left-part-tablet.png) no-repeat center right;

  }
  .results__picture__wrapper-two {
    width: 50%;
    height: 100%;
    background-size: contain;
    background: #eaeaea url(../pictures/main/cat-right-part-tablet.png) no-repeat center left;
  }
  .before {
    display: none;
  }
  .after {
    display: none;
  }

};
/*file blocks/example.less */
@media (min-width:$desktop-width-min) {
  .example {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 217px;
    width: 1218px;
    margin: 0 auto;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }
  .example-headline {
    width: 50%;
    color:#111111;
  }
  .example-cat-block {
    width: 50%;
    height: 100%;
    background-size: contain;
    background: url(../pictures/main/head-of-cat-v4.png) no-repeat bottom left;
  }
  .results {
    display: flex;
    justify-content: flex-end;
    height: 462px;
    width: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
  }
  .results__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 432px;
    height: 100%;
    background-color: #f2f2f2;
    margin-right: 180px;
  }

  .results__details__wrapper {
    color:#444444;
    font-family: Arial, sans-serif;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: no-repeat left;

  }
  .results__details__description {
    width: 433px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
  }
  .results__numbers {
    height: 75px;
    width: 366px;
    display: flex;
    justify-content: space-between;
  }
  .results__fieldset {
    margin: 0;
    padding: 0;
    color:black;
    width: 158px;
    border: 1px solid #cdcdcd;
    display: flex;
    text-align: center;
    transform: rotate(180deg)
  }
  .results__numbers-fieldset {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  span {
    font-family: 'Oswald',sans-serif;
    color:#111111;
    font-size: 30px;
    transform: rotate(180deg);
    position: relative;
    top: -10px;
    left: 30px;
    width: 105px;
  }
  .rotate {
    transform: rotate(180deg);
    margin: 0;
    padding: 0;
  }
  .results__legend {
    margin: 0 auto;
    padding: 0 10px;

  }
  .results__expenses {
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    color: #111111;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .results__expenses--text {
    margin: 0;
    padding: 0;
  }
  .results__picture {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: #eaeaea url(../pictures/main/big-cat-v6.png) no-repeat left top;
  }

  .results__picture__wrapper {
    margin-top: 345px;
    margin-left: 4.2%;
    margin-right: 12%;
    width: 590px;
    display: flex;
    justify-content: space-between;

  }
  .before,
  .after {
    border-bottom:1px dotted #bebebe;
    color:#111111;
    font-size: 20px;
  }
};

/*Файл blocks/partnership.less */
@media (min-width: $mobile-width-min) and  (max-width: $mobile-width-max) {
  .partnership {
    font-size: 16px;
    line-height: 20px;
    height: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .partnership__wrapper-main {
    width: 87.5%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  .partnership__textcontent {
    color: #111111;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
  }
  .partnership__address {
    font-family: 'Arial',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 140px;
    height: 60px;
    margin: auto 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
    line-height: 20px;
    color:#444444;
  }
  .partnership__address__item-one {
    width: 154px;
    text-align: left;
  };
};
@media (min-width: $tablet-width-min) and  (max-width: $tablet-width-max) {
  .partnership-main {
    font-size: 16px;
    line-height: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .partnership__wrapper-main {
    width: 81.1%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  .partnership__textcontent {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 25px;
  }
  .partnership__address {
    font-family: Arial,sans-serif;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    color:#444444;
  }
  .partnership__address__item-one {
    width: 160px;
    text-align: right;
  }
  .partnership__address__item-two {
  }
};
/*Файл blocks/partnership.less */
@media (min-width:$desktop-width-min) {
  .partnership-main {
    position: absolute;
    z-index: 10;
    top: 2380px;
    font-size: 16px;
    line-height: 20px;
    width: 570px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    margin-left: 7.63%;
  }
  .partnership__wrapper-main {
    font-family: Oswald, serif;
    position: relative;
    left: 30px;
    width: 81.1%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  .partnership__textcontent {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 25px;
  }
  .partnership__address {
    font-family: Arial, sans-serif;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    margin: auto 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    color:#444444;
  }
  .partnership__address__item-one {
    width: 160px;
    text-align: left;
  }
  .partnership__address__item-two {
    width: 154px;
  }
};
/*file blocks/map.less */
@media (min-width: $mobile-width-min) and  (max-width: $mobile-width-max) {
  #map {
    height: 576px;
    width: 100%;
    background-image: url(../pictures/main/temporary-map.png);
  }
};
@media (min-width: $tablet-width-min) and  (max-width: $tablet-width-max) {
  #map {
    height: 396px;
    width: 100%;
    background-image: url(../pictures/main/temporary-map.png);
  }
};
/*Файл blocks/map.less */
@media (min-width:$desktop-width-min) {
  #map {
    height: 396px;
    width: 100%;
   background-color: #d9d9d9;
  }
};
/*file blocks/footer.less */
@media (min-width: $mobile-width-min) and  (max-width: $mobile-width-max) {
  .page-footer {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f2f2;
    font-size: 16px;
    color: #444444;
  }
  .page-footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .page-footer__item--one {
    border-bottom: 1px solid #d9d9d9;
    width: 87.5%;
    height: 94px;
    background: url(../pictures/main/footer-item--one.png) no-repeat center;
  }
  .page-footer__item--two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 127px;
    list-style-type: none;
    height: 33%;
    margin: 0;
    padding: 0;
  }
  .page-footer__item--two--first {
    width: 30px;
    height: 16px;

    background-image: url(../pictures/main/vk-icon.png);
  }
  .page-footer__item--two--second {
    width: 23px;
    height: 23px;

    background-image: url(../pictures/main/insta-icon.png);
  }
  .page-footer__item--two--third {
    width: 14px;
    height: 28px;
    background-image: url(../pictures/main/fb-icon.png);

  }
  .page-footer__item--three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87.5%;
    height: 33%;
    border-top: 1px solid #d9d9d9;
  }
  .page-footer--text {
    color:#444444;
    font-size: 16px;
    font-family: 'Arial',sans-serif;
    margin: 0;
    padding: 0;
  }
  .page-footer__item--three--sign {
    width: 27px;
    height: 34px;
    background: url(../pictures/main/cat-energy-index-mobile-sign.png) no-repeat center;
  }
};
@media (min-width: $tablet-width-min) and  (max-width: $tablet-width-max) {
  .page-footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f2f2;
  }
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;

    width: 91.8%;
    height: 34px;
    margin: 0 auto;
  }
  .page-footer__item--one {
    width: 128px;
    height: 100%;
    background: url(../pictures/main/footer-item--one.png) no-repeat center;
  }
  .page-footer__item--two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 124px;
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .page-footer__item--two--first {
    width: 30px;
    height: 16px;

    background-image: url(../pictures/main/vk-icon.png);
  }
  .page-footer__item--two--second {
    width: 23px;
    height: 23px;

    background-image: url(../pictures/main/insta-icon.png);
  }
  .page-footer__item--two--third {
    width: 14px;
    height: 28px;
    background-image: url(../pictures/main/fb-icon.png);

  }
  .page-footer__item--three {
    width: 164px;
    height: 100%;
    background: url(../pictures/main/htmlacademy-icon.png) no-repeat center;

  }
  .page-footer--text {
    display: none;
  }
};
/*file blocks/footer.less */
@media (min-width:$desktop-width-min) {
  .page-footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f2f2;
  }
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 84.7%;
    height: 34px;
    margin: 0 auto;
  }
  .page-footer__item--one {
    width: 128px;
    height: 100%;
    background: url(../pictures/main/footer-item--one.png) no-repeat center;
  }
  .page-footer__item--two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 124px;
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .page-footer__item--two--first {
    width: 30px;
    height: 16px;
    background-image: url(../pictures/main/vk-icon.png);
  }
  .page-footer__item--two--second {
    width: 23px;
    height: 23px;
    background-image: url(../pictures/main/insta-icon.png);
  }
  .page-footer__item--two--third {
    width: 14px;
    height: 28px;
    background-image: url(../pictures/main/fb-icon.png);
  }
  .page-footer__item--three {
    width: 164px;
    height: 100%;
    background: url(../pictures/main/htmlacademy-icon.png) no-repeat center;
  }
  .page-footer--text {
    display: none;
  }
};

